nav{
    background-color: rgb(16, 20, 97)
    height:30px;
    display:flex;
    width:98%;
    align-items:center;
    position:fixed; 
}
img{
    height:30px;
}
.home{
    position: relative;
    left:45%;

}
#heading::first-letter{
    font-size: 50px;
}
#content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-left: 20%;
    height: 350px;
    width: 282px;
    border: 5px solid black;
    overflow:auto;
    padding: 20px,20px;
    float:left;
}
.container1{
    margin-top: 5%;
    margin-left: 5%;
    height: 350px;
    width: 282px;
    border: 5px solid black;
    overflow:auto;
    padding: 20px,20px;
    float:left;

}