body{
    background-color:rgb(0, 51, 160);
}
#mainheading{
    text-align: center;
    color: rgb(230, 90, 0);
    text-decoration: underline;font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}
#title{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: orange;
    letter-spacing: 30px;
}
nav{
    background-color: rgb(230, 90, 0);
    height: 30px;
    display: flex;
    width: 98%;
    align-items: center;
    position: fixed;
}
img{
    height:30px;
}
.home{
    position: relative;
    left: 35%;
    text-decoration: none;
    color: rgb(0, 51, 160);
}
.highlights{
    position: relative;
    left: 40%;
    text-decoration: none;
    color: rgb(0, 51, 160);
}
.fan{
    position: relative;
    left: 45%;
    text-decoration: none;
    color: rgb(0, 51, 160);
}
.more{
    position: relative;
    left: 50%;
    text-decoration: none;
    color: rgb(0, 51, 160);
}
.home:hover{
    color: blanchedalmond;
}
.highlights:hover{
    color: blanchedalmond;
}
.fan:hover{
    color: blanchedalmond;
}
.more:hover{
    color: blanchedalmond;
}
#main{
    height: 200px;
    border: 5px solid rgb(230, 90, 0) ;
}
hr{
    border-color: rgb(230, 90, 0);
    border-width: 3px;
}
h2{
    color: rgb(230, 90, 0);
    font-size: 30px;
}
#heading::first-letter{
    font-size: 50px;
}
#content{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}
.container{
    margin-left: 5%;
    height: 200px;
    width: 200px;
    background-color: rgb(3, 6, 75);
    border: 5px solid rgb(230, 90, 0);
    overflow: auto;
    padding: 20px,20px;
    float: left;
}
#t20wc{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#content1{
    background-color:rgb(242, 121, 45);
    color: rgb(0, 51, 160);
    border-radius: 5px;
    font-weight: bolder;
}
.container1{
    margin-left: 20%;
    height: 200px;
    width: 200px;
    background-color: rgb(3, 6, 75);
    border: 5px solid rgb(230, 90, 0);
    overflow: auto;
    padding: 20px,20px;
    float: left;
}
#cc{
    height: 100%;
    width: 100;
    border-radius: 5px;
    border-radius: 10px;
}
#content3{
    background-color:rgb(242, 121, 45);
    color: rgb(0, 51, 160);
    border-radius: 5px;
    font-weight: bolder;
}
.container2{
    margin-top: 5%;
    margin-left: 5%;
    height: 200px;
    width: 200px;
    background-color: rgb(3, 6, 75);
    border: 5px solid rgb(230, 90, 0);
    overflow: auto;
    padding: 20px,20px;
    float: left;
}
#ipl{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#content4{
    background-color:rgb(242, 121, 45);
    color: rgb(0, 51, 160);
    border-radius: 5px;
    font-weight: bolder;
}
.container3{
    margin-top: 5%;
    margin-left: 20%;
    height: 200px;
    width: 200px;
    background-color: rgb(3, 6, 75);
    border: 5px solid rgb(230, 90, 0);
    overflow: auto;
    padding: 20px,20px;
    float: left;
}
#asia{
    height: 100%;
    width: 100;
    border-radius: 5px;
    border-radius: 10px;
}
#content5{
    background-color:rgb(242, 121, 45);
    color: rgb(0, 51, 160);
    border-radius: 5px;
    font-weight: bolder;
}
#high{
    text-align: left;
}
#contact{
    color: rgb(230, 90, 0);
    text-decoration: underline;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px; 
}
legend{
    color: rgb(242, 121, 45);
    font-weight: bolder;
}
label{
    color: rgb(242, 121, 45);
    font-weight: bolder;
}
